#chat-screen {
    background-color: rgb(201, 183, 198);
    height:1100vh;
}

#chat-screen .status-bar,
#chat-screen .alt-header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}
#chat-screen .status-bar {
    z-index: 2;
}
#chat-screen .alt-header {
    top:10px;
    z-index:1;
}

.main-chat {
    margin-top: 150px;
}

